<!doctype html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link href="~/lib/css/vendor.min.css" rel="stylesheet" />
</head>
<body ng-controller="dashboardController">
    <div class="page-header">
        <h1> Dahboard </h1>
    </div>
    <div class="panel">
        <div class="form-inline">
            <div class="form-group">
                <div class="col-md-8">
                    <input class="form-control" ng-model="" placeholder="" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <button class="btn btn-default" ng-click="">Add</button>
                </div>
            </div>
        </div>
       
    </div>

<script src="~/lib/js/vendor.min.js"></script>
   
</body>
</html>
